<div class="gameContainer"
        (mousedown)="onMouseButtonDown($event)" 
        (mousemove)="onMouseMove($event)" 
        (mouseup)="onMouseButtonUp($event)">

    <div class="buttonContainer">
      <button mat-button class="clearBtn" (click)="clearCanvas()">Clear</button>
      <mat-slide-toggle [(ngModel)]="clearAtStart">Clear at start</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="drawConnections">Draw Connections</mat-slide-toggle>
    </div>

    <div #follower 
      [@followAnimation]="getAnimationState()"
      class="follower"
      (@followAnimation.done)="onAnimationEnd($event)"
      (mousedown)="onMouseButtonDown($event)" 
      (mouseup)="onMouseButtonUp($event)">
      {{getMovementSize()}}
    </div>
    <canvas class="canvas" #canvas></canvas>  
</div>
