.sequencesGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "firstQuery fly sequence";
}

.firstQuery {
    grid-area: firstQuery;
}

.fly {
    grid-area: fly;
}

.sequence {
    grid-area: sequence;
}

